<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="duplicateHandling" type="xstring" value="AppendSuffixAutomatic"/>
<entry key="compositionMode" type="xstring" value="MatchAll"/>
<entry key="joinMode" type="xstring" value="InnerJoin"/>
<config key="leftTableJoinPredicate">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="$RowID$"/>
</config>
<config key="rightTableJoinPredicate">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="$RowID$"/>
</config>
<entry key="suffix" type="xstring" value="(*)"/>
<config key="leftIncludeCols">
<entry key="array-size" type="xint" value="220"/>
<entry key="0" type="xstring" value="n_tokens_title"/>
<entry key="1" type="xstring" value="n_tokens_content"/>
<entry key="2" type="xstring" value="n_unique_tokens"/>
<entry key="3" type="xstring" value="n_non_stop_words"/>
<entry key="4" type="xstring" value="n_non_stop_unique_tokens"/>
<entry key="5" type="xstring" value="num_hrefs"/>
<entry key="6" type="xstring" value="num_self_hrefs"/>
<entry key="7" type="xstring" value="num_imgs"/>
<entry key="8" type="xstring" value="num_videos"/>
<entry key="9" type="xstring" value="average_token_length"/>
<entry key="10" type="xstring" value="num_keywords"/>
<entry key="11" type="xstring" value="data_channel_is_lifestyle"/>
<entry key="12" type="xstring" value="data_channel_is_entertainment"/>
<entry key="13" type="xstring" value="data_channel_is_bus"/>
<entry key="14" type="xstring" value="data_channel_is_socmed"/>
<entry key="15" type="xstring" value="data_channel_is_tech"/>
<entry key="16" type="xstring" value="data_channel_is_world"/>
<entry key="17" type="xstring" value="kw_min_min"/>
<entry key="18" type="xstring" value="kw_max_min"/>
<entry key="19" type="xstring" value="kw_avg_min"/>
<entry key="20" type="xstring" value="kw_min_max"/>
<entry key="21" type="xstring" value="kw_max_max"/>
<entry key="22" type="xstring" value="kw_avg_max"/>
<entry key="23" type="xstring" value="kw_min_avg"/>
<entry key="24" type="xstring" value="kw_max_avg"/>
<entry key="25" type="xstring" value="kw_avg_avg"/>
<entry key="26" type="xstring" value="self_reference_min_shares"/>
<entry key="27" type="xstring" value="self_reference_max_shares"/>
<entry key="28" type="xstring" value="self_reference_avg_sharess"/>
<entry key="29" type="xstring" value="weekday"/>
<entry key="30" type="xstring" value="LDA_00"/>
<entry key="31" type="xstring" value="LDA_01"/>
<entry key="32" type="xstring" value="LDA_02"/>
<entry key="33" type="xstring" value="LDA_03"/>
<entry key="34" type="xstring" value="LDA_04"/>
<entry key="35" type="xstring" value="global_subjectivity"/>
<entry key="36" type="xstring" value="global_sentiment_polarity"/>
<entry key="37" type="xstring" value="global_rate_positive_words"/>
<entry key="38" type="xstring" value="global_rate_negative_words"/>
<entry key="39" type="xstring" value="rate_positive_words"/>
<entry key="40" type="xstring" value="rate_negative_words"/>
<entry key="41" type="xstring" value="avg_positive_polarity"/>
<entry key="42" type="xstring" value="min_positive_polarity"/>
<entry key="43" type="xstring" value="max_positive_polarity"/>
<entry key="44" type="xstring" value="avg_negative_polarity"/>
<entry key="45" type="xstring" value="min_negative_polarity"/>
<entry key="46" type="xstring" value="max_negative_polarity"/>
<entry key="47" type="xstring" value="title_subjectivity"/>
<entry key="48" type="xstring" value="title_sentiment_polarity"/>
<entry key="49" type="xstring" value="abs_title_subjectivity"/>
<entry key="50" type="xstring" value="abs_title_sentiment_polarity"/>
<entry key="51" type="xstring" value="class"/>
<entry key="52" type="xstring" value="P (class=no_popular)"/>
<entry key="53" type="xstring" value="Tree Decision"/>
<entry key="54" type="xstring" value="Prediction (class)"/>
<entry key="55" type="xstring" value="n_tokens_title (#1)"/>
<entry key="56" type="xstring" value="n_tokens_content (#1)"/>
<entry key="57" type="xstring" value="n_unique_tokens (#1)"/>
<entry key="58" type="xstring" value="n_non_stop_words (#1)"/>
<entry key="59" type="xstring" value="n_non_stop_unique_tokens (#1)"/>
<entry key="60" type="xstring" value="num_hrefs (#1)"/>
<entry key="61" type="xstring" value="num_self_hrefs (#1)"/>
<entry key="62" type="xstring" value="num_imgs (#1)"/>
<entry key="63" type="xstring" value="num_videos (#1)"/>
<entry key="64" type="xstring" value="average_token_length (#1)"/>
<entry key="65" type="xstring" value="num_keywords (#1)"/>
<entry key="66" type="xstring" value="data_channel_is_lifestyle (#1)"/>
<entry key="67" type="xstring" value="data_channel_is_entertainment (#1)"/>
<entry key="68" type="xstring" value="data_channel_is_bus (#1)"/>
<entry key="69" type="xstring" value="data_channel_is_socmed (#1)"/>
<entry key="70" type="xstring" value="data_channel_is_tech (#1)"/>
<entry key="71" type="xstring" value="data_channel_is_world (#1)"/>
<entry key="72" type="xstring" value="kw_min_min (#1)"/>
<entry key="73" type="xstring" value="kw_max_min (#1)"/>
<entry key="74" type="xstring" value="kw_avg_min (#1)"/>
<entry key="75" type="xstring" value="kw_min_max (#1)"/>
<entry key="76" type="xstring" value="kw_max_max (#1)"/>
<entry key="77" type="xstring" value="kw_avg_max (#1)"/>
<entry key="78" type="xstring" value="kw_min_avg (#1)"/>
<entry key="79" type="xstring" value="kw_max_avg (#1)"/>
<entry key="80" type="xstring" value="kw_avg_avg (#1)"/>
<entry key="81" type="xstring" value="self_reference_min_shares (#1)"/>
<entry key="82" type="xstring" value="self_reference_max_shares (#1)"/>
<entry key="83" type="xstring" value="self_reference_avg_sharess (#1)"/>
<entry key="84" type="xstring" value="weekday (#1)"/>
<entry key="85" type="xstring" value="LDA_00 (#1)"/>
<entry key="86" type="xstring" value="LDA_01 (#1)"/>
<entry key="87" type="xstring" value="LDA_02 (#1)"/>
<entry key="88" type="xstring" value="LDA_03 (#1)"/>
<entry key="89" type="xstring" value="LDA_04 (#1)"/>
<entry key="90" type="xstring" value="global_subjectivity (#1)"/>
<entry key="91" type="xstring" value="global_sentiment_polarity (#1)"/>
<entry key="92" type="xstring" value="global_rate_positive_words (#1)"/>
<entry key="93" type="xstring" value="global_rate_negative_words (#1)"/>
<entry key="94" type="xstring" value="rate_positive_words (#1)"/>
<entry key="95" type="xstring" value="rate_negative_words (#1)"/>
<entry key="96" type="xstring" value="avg_positive_polarity (#1)"/>
<entry key="97" type="xstring" value="min_positive_polarity (#1)"/>
<entry key="98" type="xstring" value="max_positive_polarity (#1)"/>
<entry key="99" type="xstring" value="avg_negative_polarity (#1)"/>
<entry key="100" type="xstring" value="min_negative_polarity (#1)"/>
<entry key="101" type="xstring" value="max_negative_polarity (#1)"/>
<entry key="102" type="xstring" value="title_subjectivity (#1)"/>
<entry key="103" type="xstring" value="title_sentiment_polarity (#1)"/>
<entry key="104" type="xstring" value="abs_title_subjectivity (#1)"/>
<entry key="105" type="xstring" value="abs_title_sentiment_polarity (#1)"/>
<entry key="106" type="xstring" value="class (#1)"/>
<entry key="107" type="xstring" value="P (class=no_popular) (#1)"/>
<entry key="108" type="xstring" value="Gradient Boosted"/>
<entry key="109" type="xstring" value="Prediction (class) (#1)"/>
<entry key="110" type="xstring" value="n_tokens_title (#2)"/>
<entry key="111" type="xstring" value="n_tokens_content (#2)"/>
<entry key="112" type="xstring" value="n_unique_tokens (#2)"/>
<entry key="113" type="xstring" value="n_non_stop_words (#2)"/>
<entry key="114" type="xstring" value="n_non_stop_unique_tokens (#2)"/>
<entry key="115" type="xstring" value="num_hrefs (#2)"/>
<entry key="116" type="xstring" value="num_self_hrefs (#2)"/>
<entry key="117" type="xstring" value="num_imgs (#2)"/>
<entry key="118" type="xstring" value="num_videos (#2)"/>
<entry key="119" type="xstring" value="average_token_length (#2)"/>
<entry key="120" type="xstring" value="num_keywords (#2)"/>
<entry key="121" type="xstring" value="data_channel_is_lifestyle (#2)"/>
<entry key="122" type="xstring" value="data_channel_is_entertainment (#2)"/>
<entry key="123" type="xstring" value="data_channel_is_bus (#2)"/>
<entry key="124" type="xstring" value="data_channel_is_socmed (#2)"/>
<entry key="125" type="xstring" value="data_channel_is_tech (#2)"/>
<entry key="126" type="xstring" value="data_channel_is_world (#2)"/>
<entry key="127" type="xstring" value="kw_min_min (#2)"/>
<entry key="128" type="xstring" value="kw_max_min (#2)"/>
<entry key="129" type="xstring" value="kw_avg_min (#2)"/>
<entry key="130" type="xstring" value="kw_min_max (#2)"/>
<entry key="131" type="xstring" value="kw_max_max (#2)"/>
<entry key="132" type="xstring" value="kw_avg_max (#2)"/>
<entry key="133" type="xstring" value="kw_min_avg (#2)"/>
<entry key="134" type="xstring" value="kw_max_avg (#2)"/>
<entry key="135" type="xstring" value="kw_avg_avg (#2)"/>
<entry key="136" type="xstring" value="self_reference_min_shares (#2)"/>
<entry key="137" type="xstring" value="self_reference_max_shares (#2)"/>
<entry key="138" type="xstring" value="self_reference_avg_sharess (#2)"/>
<entry key="139" type="xstring" value="weekday (#2)"/>
<entry key="140" type="xstring" value="LDA_00 (#2)"/>
<entry key="141" type="xstring" value="LDA_01 (#2)"/>
<entry key="142" type="xstring" value="LDA_02 (#2)"/>
<entry key="143" type="xstring" value="LDA_03 (#2)"/>
<entry key="144" type="xstring" value="LDA_04 (#2)"/>
<entry key="145" type="xstring" value="global_subjectivity (#2)"/>
<entry key="146" type="xstring" value="global_sentiment_polarity (#2)"/>
<entry key="147" type="xstring" value="global_rate_positive_words (#2)"/>
<entry key="148" type="xstring" value="global_rate_negative_words (#2)"/>
<entry key="149" type="xstring" value="rate_positive_words (#2)"/>
<entry key="150" type="xstring" value="rate_negative_words (#2)"/>
<entry key="151" type="xstring" value="avg_positive_polarity (#2)"/>
<entry key="152" type="xstring" value="min_positive_polarity (#2)"/>
<entry key="153" type="xstring" value="max_positive_polarity (#2)"/>
<entry key="154" type="xstring" value="avg_negative_polarity (#2)"/>
<entry key="155" type="xstring" value="min_negative_polarity (#2)"/>
<entry key="156" type="xstring" value="max_negative_polarity (#2)"/>
<entry key="157" type="xstring" value="title_subjectivity (#2)"/>
<entry key="158" type="xstring" value="title_sentiment_polarity (#2)"/>
<entry key="159" type="xstring" value="abs_title_subjectivity (#2)"/>
<entry key="160" type="xstring" value="abs_title_sentiment_polarity (#2)"/>
<entry key="161" type="xstring" value="class (#2)"/>
<entry key="162" type="xstring" value="P (class=no_popular) (#2)"/>
<entry key="163" type="xstring" value="Naive Bayes"/>
<entry key="164" type="xstring" value="Prediction (class) (#2)"/>
<entry key="165" type="xstring" value="n_tokens_title (#3)"/>
<entry key="166" type="xstring" value="n_tokens_content (#3)"/>
<entry key="167" type="xstring" value="n_unique_tokens (#3)"/>
<entry key="168" type="xstring" value="n_non_stop_words (#3)"/>
<entry key="169" type="xstring" value="n_non_stop_unique_tokens (#3)"/>
<entry key="170" type="xstring" value="num_hrefs (#3)"/>
<entry key="171" type="xstring" value="num_self_hrefs (#3)"/>
<entry key="172" type="xstring" value="num_imgs (#3)"/>
<entry key="173" type="xstring" value="num_videos (#3)"/>
<entry key="174" type="xstring" value="average_token_length (#3)"/>
<entry key="175" type="xstring" value="num_keywords (#3)"/>
<entry key="176" type="xstring" value="data_channel_is_lifestyle (#3)"/>
<entry key="177" type="xstring" value="data_channel_is_entertainment (#3)"/>
<entry key="178" type="xstring" value="data_channel_is_bus (#3)"/>
<entry key="179" type="xstring" value="data_channel_is_socmed (#3)"/>
<entry key="180" type="xstring" value="data_channel_is_tech (#3)"/>
<entry key="181" type="xstring" value="data_channel_is_world (#3)"/>
<entry key="182" type="xstring" value="kw_min_min (#3)"/>
<entry key="183" type="xstring" value="kw_max_min (#3)"/>
<entry key="184" type="xstring" value="kw_avg_min (#3)"/>
<entry key="185" type="xstring" value="kw_min_max (#3)"/>
<entry key="186" type="xstring" value="kw_max_max (#3)"/>
<entry key="187" type="xstring" value="kw_avg_max (#3)"/>
<entry key="188" type="xstring" value="kw_min_avg (#3)"/>
<entry key="189" type="xstring" value="kw_max_avg (#3)"/>
<entry key="190" type="xstring" value="kw_avg_avg (#3)"/>
<entry key="191" type="xstring" value="self_reference_min_shares (#3)"/>
<entry key="192" type="xstring" value="self_reference_max_shares (#3)"/>
<entry key="193" type="xstring" value="self_reference_avg_sharess (#3)"/>
<entry key="194" type="xstring" value="weekday (#3)"/>
<entry key="195" type="xstring" value="LDA_00 (#3)"/>
<entry key="196" type="xstring" value="LDA_01 (#3)"/>
<entry key="197" type="xstring" value="LDA_02 (#3)"/>
<entry key="198" type="xstring" value="LDA_03 (#3)"/>
<entry key="199" type="xstring" value="LDA_04 (#3)"/>
<entry key="200" type="xstring" value="global_subjectivity (#3)"/>
<entry key="201" type="xstring" value="global_sentiment_polarity (#3)"/>
<entry key="202" type="xstring" value="global_rate_positive_words (#3)"/>
<entry key="203" type="xstring" value="global_rate_negative_words (#3)"/>
<entry key="204" type="xstring" value="rate_positive_words (#3)"/>
<entry key="205" type="xstring" value="rate_negative_words (#3)"/>
<entry key="206" type="xstring" value="avg_positive_polarity (#3)"/>
<entry key="207" type="xstring" value="min_positive_polarity (#3)"/>
<entry key="208" type="xstring" value="max_positive_polarity (#3)"/>
<entry key="209" type="xstring" value="avg_negative_polarity (#3)"/>
<entry key="210" type="xstring" value="min_negative_polarity (#3)"/>
<entry key="211" type="xstring" value="max_negative_polarity (#3)"/>
<entry key="212" type="xstring" value="title_subjectivity (#3)"/>
<entry key="213" type="xstring" value="title_sentiment_polarity (#3)"/>
<entry key="214" type="xstring" value="abs_title_subjectivity (#3)"/>
<entry key="215" type="xstring" value="abs_title_sentiment_polarity (#3)"/>
<entry key="216" type="xstring" value="class (#3)"/>
<entry key="217" type="xstring" value="P (class=no_popular) (#3)"/>
<entry key="218" type="xstring" value="Random Forest"/>
<entry key="219" type="xstring" value="Prediction (class) (#3)"/>
</config>
<config key="rightIncludeCols">
<entry key="array-size" type="xint" value="109"/>
<entry key="0" type="xstring" value="n_tokens_title"/>
<entry key="1" type="xstring" value="n_tokens_content"/>
<entry key="2" type="xstring" value="n_unique_tokens"/>
<entry key="3" type="xstring" value="n_non_stop_words"/>
<entry key="4" type="xstring" value="n_non_stop_unique_tokens"/>
<entry key="5" type="xstring" value="num_hrefs"/>
<entry key="6" type="xstring" value="num_self_hrefs"/>
<entry key="7" type="xstring" value="num_imgs"/>
<entry key="8" type="xstring" value="num_videos"/>
<entry key="9" type="xstring" value="average_token_length"/>
<entry key="10" type="xstring" value="num_keywords"/>
<entry key="11" type="xstring" value="data_channel_is_lifestyle"/>
<entry key="12" type="xstring" value="data_channel_is_entertainment"/>
<entry key="13" type="xstring" value="data_channel_is_bus"/>
<entry key="14" type="xstring" value="data_channel_is_socmed"/>
<entry key="15" type="xstring" value="data_channel_is_tech"/>
<entry key="16" type="xstring" value="data_channel_is_world"/>
<entry key="17" type="xstring" value="kw_min_min"/>
<entry key="18" type="xstring" value="kw_max_min"/>
<entry key="19" type="xstring" value="kw_avg_min"/>
<entry key="20" type="xstring" value="kw_min_max"/>
<entry key="21" type="xstring" value="kw_max_max"/>
<entry key="22" type="xstring" value="kw_avg_max"/>
<entry key="23" type="xstring" value="kw_min_avg"/>
<entry key="24" type="xstring" value="kw_max_avg"/>
<entry key="25" type="xstring" value="kw_avg_avg"/>
<entry key="26" type="xstring" value="self_reference_min_shares"/>
<entry key="27" type="xstring" value="self_reference_max_shares"/>
<entry key="28" type="xstring" value="self_reference_avg_sharess"/>
<entry key="29" type="xstring" value="weekday"/>
<entry key="30" type="xstring" value="LDA_00"/>
<entry key="31" type="xstring" value="LDA_01"/>
<entry key="32" type="xstring" value="LDA_02"/>
<entry key="33" type="xstring" value="LDA_03"/>
<entry key="34" type="xstring" value="LDA_04"/>
<entry key="35" type="xstring" value="global_subjectivity"/>
<entry key="36" type="xstring" value="global_sentiment_polarity"/>
<entry key="37" type="xstring" value="global_rate_positive_words"/>
<entry key="38" type="xstring" value="global_rate_negative_words"/>
<entry key="39" type="xstring" value="rate_positive_words"/>
<entry key="40" type="xstring" value="rate_negative_words"/>
<entry key="41" type="xstring" value="avg_positive_polarity"/>
<entry key="42" type="xstring" value="min_positive_polarity"/>
<entry key="43" type="xstring" value="max_positive_polarity"/>
<entry key="44" type="xstring" value="avg_negative_polarity"/>
<entry key="45" type="xstring" value="min_negative_polarity"/>
<entry key="46" type="xstring" value="max_negative_polarity"/>
<entry key="47" type="xstring" value="title_subjectivity"/>
<entry key="48" type="xstring" value="title_sentiment_polarity"/>
<entry key="49" type="xstring" value="abs_title_subjectivity"/>
<entry key="50" type="xstring" value="abs_title_sentiment_polarity"/>
<entry key="51" type="xstring" value="class"/>
<entry key="52" type="xstring" value="Class [kNN]"/>
<entry key="53" type="xstring" value="no_popular"/>
<entry key="54" type="xstring" value="K-NN"/>
<entry key="55" type="xstring" value="n_tokens_title (#1)"/>
<entry key="56" type="xstring" value="n_tokens_content (#1)"/>
<entry key="57" type="xstring" value="n_unique_tokens (#1)"/>
<entry key="58" type="xstring" value="n_non_stop_words (#1)"/>
<entry key="59" type="xstring" value="n_non_stop_unique_tokens (#1)"/>
<entry key="60" type="xstring" value="num_hrefs (#1)"/>
<entry key="61" type="xstring" value="num_self_hrefs (#1)"/>
<entry key="62" type="xstring" value="num_imgs (#1)"/>
<entry key="63" type="xstring" value="num_videos (#1)"/>
<entry key="64" type="xstring" value="average_token_length (#1)"/>
<entry key="65" type="xstring" value="num_keywords (#1)"/>
<entry key="66" type="xstring" value="data_channel_is_lifestyle (#1)"/>
<entry key="67" type="xstring" value="data_channel_is_entertainment (#1)"/>
<entry key="68" type="xstring" value="data_channel_is_bus (#1)"/>
<entry key="69" type="xstring" value="data_channel_is_socmed (#1)"/>
<entry key="70" type="xstring" value="data_channel_is_tech (#1)"/>
<entry key="71" type="xstring" value="data_channel_is_world (#1)"/>
<entry key="72" type="xstring" value="kw_min_min (#1)"/>
<entry key="73" type="xstring" value="kw_max_min (#1)"/>
<entry key="74" type="xstring" value="kw_avg_min (#1)"/>
<entry key="75" type="xstring" value="kw_min_max (#1)"/>
<entry key="76" type="xstring" value="kw_max_max (#1)"/>
<entry key="77" type="xstring" value="kw_avg_max (#1)"/>
<entry key="78" type="xstring" value="kw_min_avg (#1)"/>
<entry key="79" type="xstring" value="kw_max_avg (#1)"/>
<entry key="80" type="xstring" value="kw_avg_avg (#1)"/>
<entry key="81" type="xstring" value="self_reference_min_shares (#1)"/>
<entry key="82" type="xstring" value="self_reference_max_shares (#1)"/>
<entry key="83" type="xstring" value="self_reference_avg_sharess (#1)"/>
<entry key="84" type="xstring" value="LDA_00 (#1)"/>
<entry key="85" type="xstring" value="LDA_01 (#1)"/>
<entry key="86" type="xstring" value="LDA_02 (#1)"/>
<entry key="87" type="xstring" value="LDA_03 (#1)"/>
<entry key="88" type="xstring" value="LDA_04 (#1)"/>
<entry key="89" type="xstring" value="global_subjectivity (#1)"/>
<entry key="90" type="xstring" value="global_sentiment_polarity (#1)"/>
<entry key="91" type="xstring" value="global_rate_positive_words (#1)"/>
<entry key="92" type="xstring" value="global_rate_negative_words (#1)"/>
<entry key="93" type="xstring" value="rate_positive_words (#1)"/>
<entry key="94" type="xstring" value="rate_negative_words (#1)"/>
<entry key="95" type="xstring" value="avg_positive_polarity (#1)"/>
<entry key="96" type="xstring" value="min_positive_polarity (#1)"/>
<entry key="97" type="xstring" value="max_positive_polarity (#1)"/>
<entry key="98" type="xstring" value="avg_negative_polarity (#1)"/>
<entry key="99" type="xstring" value="min_negative_polarity (#1)"/>
<entry key="100" type="xstring" value="max_negative_polarity (#1)"/>
<entry key="101" type="xstring" value="title_subjectivity (#1)"/>
<entry key="102" type="xstring" value="title_sentiment_polarity (#1)"/>
<entry key="103" type="xstring" value="abs_title_subjectivity (#1)"/>
<entry key="104" type="xstring" value="abs_title_sentiment_polarity (#1)"/>
<entry key="105" type="xstring" value="class (#1)"/>
<entry key="106" type="xstring" value="P (class=no_popular)"/>
<entry key="107" type="xstring" value="Red Neuronal"/>
<entry key="108" type="xstring" value="Prediction (class)"/>
</config>
<entry key="leftIncludeAll" type="xboolean" value="true"/>
<entry key="rightIncludeAll" type="xboolean" value="true"/>
<entry key="rmLeftJoinCols" type="xboolean" value="false"/>
<entry key="rmRightJoinCols" type="xboolean" value="true"/>
<entry key="maxOpenFiles" type="xint" value="200"/>
<entry key="rowKeySeparator" type="xstring" value="_"/>
<entry key="enableHiLite" type="xboolean" value="false"/>
<entry key="numBitsInitial" type="xint" value="6"/>
<entry key="numBitsMaximal" type="xint" value="32"/>
<entry key="usedMemoryThreshold" type="xdouble" value="0.85"/>
<entry key="minAvailableMemory" type="xlong" value="10000000"/>
<entry key="memUseCollectionUsage" type="xboolean" value="true"/>
<entry key="version" type="xstring" value="version_3"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.joiner.Joiner2NodeFactory"/>
<entry key="node-name" type="xstring" value="Joiner"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.6.1.v201808311359"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.6.1.v201809030900"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Joiner"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 39644, Cols: 329"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="e86f53c6-f28c-4555-911d-527cb836c1a6"/>
</config>
</config>
